:root {

    /* CSS HEX */
--silver: #a5a19d;
--silver-2: #C6C0B6ff;
--chocolate-cosmos: #5B1C1Dff;
--field-drab: #65512Cff;
--white-smoke: #F3F3F3ff;
}


main {
    margin: 10px 0px;
    width: 100%;
    height: 65vh;
    background-image: url(../assets/foods-images/food_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

section{
    width: 80%;
    height: 80%;
    background-color: rgba(243, 243, 243, .85);
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
    padding: 32px;
}





