* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: Arial, sans-serif;
background-color: #197abf;
color: #333;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
}


.main-header {
width: 100%;
border: 2px solid #00c3ff;
padding: 10px;
}

.main-nav {
border: 2px solid #ff005c; 
display: flex;
justify-content: space-around;
padding: 10px;
}

.main-nav ul {
display: flex;
list-style: none;
}

.main-nav ul li {
margin: 0 10px;
}

.main-nav a {
color: #333;
text-decoration: none;
font-size: 1.2em;
}

.content {
width: 80%;
height: 400px;
background-color: #c4eafc;
border: 2px solid #00c3ff; 
margin: 20px 0;
}

.footer {
width: 100%;
background-color: #82c4ff;
border: 2px solid #ffc107; 
padding: 10px 0;
}

.footer ul {
display: flex;
justify-content: space-around;
list-style: none;
}

.footer a {
color: #333;
text-decoration: none;
font-size: 1.2em;
}