:root {

    /* CSS HEX */
--silver: #a5a19d;
--silver-2: #C6C0B6ff;
--chocolate-cosmos: #5B1C1Dff;
--field-drab: #65512Cff;
--white-smoke: #F3F3F3ff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white-smoke);
    color: #333;
}

header, footer {
    background-color:var(--field-drab);
    border: 2px;
    padding: 20px;
    text-align: center;
}

li {
    display: inline;
}

main {
    background-color: #e9ecef;
    padding: 20px;
    margin: 20px;
}

h1 {
    color: var(--white-smoke);
}

h2 {
    color: var(--chocolate-cosmos);
}

nav a {
    color: var(--silver-2);
    text-decoration: none;
    padding: 5px;
  }
  
nav a:hover {
    color: var(--chocolate-cosmos);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.gallery {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 10px;
}